//-
  ---
  sets: !include alv_music.yml
  ---

extend layouts/blank

block body
  .document
    .md-gap.md-flex.flex-center.flex-between
      .text-center
        image.me(src='sqme' alt="Alvaro Cabrera" width=260 height=260)
      div
        p Hi, I'am #[b ALVADUB] (self-taught musician and software developer, beep-boop-bop!), and I want to share with you the music I made with &lt;3
        p I am living at Guadalajara Jalisco, but my hometown is #[a(href='https://es.wikipedia.org/wiki/San_Lorenzo_Acopilco') San Lorenzo Acopilco], a small place on the south-west mountains of Mexico City.
        p: small.dimmed BTW, my fullname is #[b Alvaro Cabrera Durán] and I am 36 yo!
    != yield

    each set in sets
      h3= set.label
      ul.music-links.notype.reset
        each track in set.tracks
          li.md-flex.flex-wrapped
            a(href=track.wav) WAV #[icon(src='#download' size=16)]
            a(href=track.mp3) MP3 #[icon(src='#download' size=16)]
            if track.zip
              a(href=track.zip) ZIP #[icon(src='#download' size=16)]
            .flex-gap.flex-auto.flex-inline.flex-between
              span #{track.name} &mdash; !{track.info}
              if track.track
                span: button.player(data-track=track)
                  icon(src='#speaker' size=24)

    p #[b WAV] is high-quality audio file (between -10.0 and -11.0 LUFS), ideal for Sound System playback and vast majority of speakers/headphones with enough BASS support.
    p #[b MP3] is the compressed version of original WAV audio files, with a high bitrate to keep a good quality level (around ~7MB each).
    p #[b ZIP] contains the WAV audio files of the original track (stems) ready to be remixed in your DAW or multi-track player.

    .md-gap.md-flex.flex-center
      p
        small.dimmed For now, I am using 12 channels or less and most tracks' length is ~3 min.
        br
        br
        small.dimmed.
          Longer files and/or custom versions would require some time and money, just reach me
          at #[a(href='mailto:yo@soypache.co') yo@soypache.co] with your request.
        br
        br
        small.dimmed.
          If you're looking for some pictures and logos for media usage just download the
          following file: #[a(href='https://www.dropbox.com/scl/fi/kipntos39cxvv2eusyyoi/ALVADUB_MediaKit.zip?rlkey=vyw7em1wi43vlfjx9mvghgqw3&dl=1') ALVADUB_MediaKit.zip #[icon(src='#download' size=16)]]
        br
        br
        | Thank you!

      .text-center
        image.logo(src='ALVADUB_VINYL_v2' alt='ALVADUB' width=260 height=260)

  .bcplayer.flex.flex-justified
  import(from='music.js')
