doctype html
html
  head
    base(href='/')
    meta(lang='en')
    meta(charset='utf-8')
    meta(name='description' content=pkg.description)
    meta(name='author' content=pkg.author.name)
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    meta(name='HandheldFriendly' content='true')
    meta(name='viewport' content='width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no')

    link(rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Lato:300|Montserrat')

    <!--[if lt IE 9]>
    script(src='//html5shim.googlecode.com/svn/trunk/html5.js')
    script(src='//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js')
    <![endif]-->

    meta(property='og:type' content='profile')
    meta(property='og:profile:first_name' content=pkg.author.name.split(' ')[0])
    meta(property='og:profile:last_name' content=pkg.author.name.split(' ')[1])
    meta(property='og:profile:username' content=pkg.author.email.split('@')[0])
    meta(property='og:profile:gender' content='male')
    meta(property='og:description' content=pkg.description)
    meta(property='og:url' content=pkg.author.url)
    meta(property='og:image' content='https://soypache.co/resources/images/me_and_shiro.jpg')

    block styles

    block meta
      if title
        meta(name='og:title' content=title)

    block head
      if title
        title= title

    if env.NODE_ENV === 'production'
      script.
        var _paq = _paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
          var u="//soypache.co/analytics/";
          _paq.push(['setTrackerUrl', u+'piwik.php']);
          _paq.push(['setSiteId', '1']);
          var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
          g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();

  body
    |[![destFile "www/images/sprites.svg"]]

    .segment
      .container
        .md-flex
          #main.flex-auto.p
            if icon
              |[![svg ["#{icon}", { "class": "icon -x3" }]]]

            block body

          #nav.p.flex-none
            .floating.noselect.center
              |[![image ["me_and_shiro.jpg", "fit push circle", { "alt": "Shirosama" }]]]

            h2= pkg.author.name

            ul.notype.reset
              li.inline-block: a(href='https://github.com/pateketrueke' rel='noopener noreferrer' target='_blank') GitHub
              li.inline-block: a(href='https://twitter.com/pateketrueke' rel='noopener noreferrer' target='_blank') Twitter

            p I am a freelance web developer living at #[a(href='https://www.google.com.mx/maps/place/Guadalajara,+Jal./@20.6737883,-103.3704326,13z' rel='noopener noreferrer' target='_blank') GDL].
            p DUB maker and Open Source enthusiast.

            nav
              h3 Navigation
              ul.notype.reset
                li: a(href='/') Home
                li: a(href='/cv') Past jobs
                li: a(href='/resume') What I do?

    |[![resources]]

    block scripts
